<div class="row">
	<div class="col-sm-9">
		<h2 class="moduloHeader"><span><?=$titulo?></span></h2>
	</div>
	<div class="col-sm-3 text-right marginTop20">
		<a class="btn btn-default pull-right" href="<?=path()?><?=$controlador?><?=suffix()?>"><span class="marginRight6 glyphicon glyphicon-chevron-left"></span> Regresar al listado</a>
	</div>
</div>
<hr>
<div class="row marginTop10">
	<div class="col-md-4">
		<div class="panel panel-<?= ($venta->status == 0) ? 'success' : 'danger' ?>">
			<div class="panel-heading">
				Información de la venta
				<?php if($venta->status == 0){ ?>
				<b class="pull-right"><span class="marginRight6 glyphicon glyphicon-ok"></span> Vigente</b>
				<?php } else { ?>
				<b class="pull-right"><span class="marginRight6 glyphicon glyphicon-remove"></span> Cancelado</b>
				<?php } ?>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<b>Fecha de registro:</b>
						<br><?=$venta->fecha?>
					</div>
				</div>
				<hr>
				<div class="row marginTop10">
					<div class="col-md-12">
						<b>Usuario registrante:</b>
						<br><?=$venta->usuario?>
					</div>
				</div>
				<hr>
				<div class="row marginTop10">
					<div class="col-md-12">
						<b>Información del cliente:</b>
						<br>
						<div><b>[ <?=$cliente['id']?> ] <?=$cliente['nombre']?></b></div>
						<?=$cliente['direccion_formateada']?>
						<?=((strlen($cliente['tel']) > 0 or strlen($cliente['email']) > 0) ? '<br>' : '')?>
						<?=((strlen($cliente['tel']) > 0) ? $cliente['tel'].',' : '')?>
						<?=$cliente['email']?>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-md-8">
		<div class="panel panel-primary">
			<div class="panel-heading">Productos incluidos</div>
			<div class="panel-body">
				<form class="form marginTop10" role="form" action="<?=path()?><?=$controlador?>/registro_cambiar<?=suffix()?>" id="formRecord" method="post">
					<input type="hidden" name="id" value="<?=$venta->id?>" />
					<?php
					$lineas = array();
					foreach($productos as $p) if(!in_array($p['linea'], $lineas)) $lineas[] = $p['linea']
					?>
					<table class="table table-striped table-bordered table-condensed table-hover hid _pr marginBottom0" id="tabla" style="display: table;">
						<thead>
							<tr>
								<th width="24%">Producto</th>
								<th width="10%">Registro</th>
								<th width="8%">Cantidad</th>
								<th width="10%">Precio</th>
								<th width="10%">Subtotal</th>
								<th width="8%">IVA $</th>
								<th width="10%">Total</th>
							</tr>
						</thead>
						<?php
						foreach($lineas as $linea)
						{
						?>
						<thead>
							<tr class="lineaHeader table-border-top-tr table-tr-primary">
								<th colspan="7"><?=$linea?></th>
							</tr>
						</thead>
						<tbody id="_tbodyFuegoCentral">
							<?php
							foreach($productos as $p)
							{
								if($p['linea'] == $linea)
								{
									$iva = $p['subtotal'] * ($p['iva'] / 100);
							?>
							<tr>
								<td nowrap><b>[<?=$p['categoria_descripcion']?>]</b> - <?=$p['descripcion']?></td>
								<td class="negritas" nowrap><?=$p['registro']?></td>
								<td class="text-right"><?=$p['cantidad']?></td>
								<td class="text-right _precio"><?=money($p['precio'])?></td>
								<td class="text-right _subtotal"><?=money($p['subtotal'])?></td>
								<td class="text-right _iva"><?=money($iva)?></td>
								<td class="text-right">
									<input name="total[<?=(int)$p['id']?>]" class="form-control numerico_decimal text-right tdTotal" type="number" value="<?=$p['total']?>" data-cantidad="<?=$p['cantidad']?>" step="any">
								</td>
						</tbody>
						<?php
								}
								@$_s += $p['subtotal'];
								@$_i += $iva;
								@$_t += $p['total'];
							}
						}
						?>
						<thead>
							<tr class="lineaHeader table-border-top-tr warning">
								<th class="text-right" colspan="4">Totales</th>
								<th class="text-right" id="t_subtotal"><?=money($_s)?></th>
								<th class="text-right" id="t_iva"><?=money($_i)?></th>
								<th class="text-right" id="t_total"><?=money($_t)?></th>
							</tr>
						</thead>
					</table>
					<div class="text-center marginTop10">
						<button id="submitter" class="btn btn-primary"><span class="marginRight6 glyphicon glyphicon-floppy-open"></span> Cambiar los precios de esta venta</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
dosDecimales($('.tdTotal'));
$('.tdTotal').change(function(){
	var valor = Math.abs(parseFloat($(this).val())).toFixed(2);
	$(this).val(valor);

	var _subtotal = 0;
	var _iva = 0;
	var _total = 0;
	$('.tdTotal').each(function(){
		var t = $(this);
		var cantidad = parseInt(t.data('cantidad'));
		var total = parseFloat(t.val());
		var precio = ( total / cantidad ).toFixed(2);
		
		var _i1 = precio / (1 + (16 / 100));
		var iva = precio - _i1;
		var subtotal = cantidad * (precio - iva);
		var iva_moneda = cantidad * iva;
		
		t.parents('TR').find('._subtotal').html(money(subtotal));
		t.parents('TR').find('._iva').html(money(iva_moneda));
		t.parents('TR').find('._precio').html(money(precio - iva));
		_subtotal += subtotal;
		_iva += iva_moneda;
		_total += total;
	});
	$('#t_subtotal').html(money(_subtotal));
	$('#t_iva').html(money(_iva));
	$('#t_total').html(money(_total));
});

//Validar formulario
$('#formRecord').submit(function(){
	if(parseFloat($('#t_total').text().replace(',', '')) == 0)
	{
		alert('No hay valores asignados a esta venta.');
		return false;
	}
	$('#submitter').addClass('disabled');
});
</script>