<?php header("Content-type: text/html; charset=UTF-8"); ?>
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="Content-type" value="text/html; charset=UTF-8" >
		<title>ALCAMPO - <?=$titulo?></title>
		<link href="<?=base_url()?>r_/css/bootstrap.min.css" rel="stylesheet">
		<link href="<?=base_url()?>r_/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="<?=base_url()?>r_/css/comun.css" rel="stylesheet">
		<link href="<?=base_url()?>r_/css/datepicker.css" rel="stylesheet">
		<script src="<?=base_url()?>r_/js/jquery-1.10.2.min.js"></script>
		<script src="<?=base_url()?>r_/js/bootstrap.min.js"></script>
		<script src="<?=base_url()?>r_/js/bootstrap-datepicker.js"></script>
		<script src="<?=base_url()?>r_/js/comun.js"></script>
		<script src="<?=base_url()?>r_/js/bootstrap3-typeahead.min.js"></script>
		
		<!-- Iformación para scripts -->
		<script>
			var path = '<?=path()?>';
			var suffix = '<?=suffix()?>';
		</script>
	</head>
	<body>